body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    min-height: 100vh;  
    overflow-x: hidden;
    width: 100%;
    position: relative;
    box-sizing: border-box;

}


section {
    height: 100vh; 
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home, #resume, #portfolio, #contact {
    margin-bottom: 0rem; /* Ajuste o valor conforme necessário */
}


/*TODO Nav */

.nav-dots {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 1000;
    transition: all 0.3s ease;

}

.nav-dots ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.nav-dots ul li {
    margin: 15px 0;

}

.nav-dots ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    position: relative;
    transition: all 0.3s ease;
    text-decoration: none;
    overflow: hidden;

}

.nav-dots ul li a i {
    transition: transform 0.3s ease;

}

/** Texto da seção que aparece ao passar o mouse */
.nav-dots ul li a::after {
    content: attr(data-section);
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    padding-left: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease;


}

/** Animação ao passar o mouse */
.nav-dots ul li a:hover {
    width: 9rem;
    border-radius: 30px;
    justify-content: flex-start;
    padding-left: 20px;

}

.nav-dots ul li a:hover i {
    transform: scale(1.2);

}

.nav-dots ul li a:hover::after {
    opacity: 1;
    left: 50px;

}


/*TODO Home */

#home {
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: flex-start;
   
}

/** presentation Container */
.presentation {
    display: flex;
    justify-content: space-be;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px

}

/** Contêiner de texto */
.text-container {
    flex: 1;
    text-align: center;
    padding-left: 6.8rem;
    max-width: 100%;

}

.text-container h1 {
    margin: 0;

}


.text-container p {
    margin-top: 10px;

}

/** Texto animado */
#dynamic-subtitle {
    white-space: pre-wrap; /* Permite quebra de linha quando necessário */

}

/** Cursor que pisca */
#dynamic-subtitle::after {
    content: "|";
    font-size: 1.5rem;
    margin-left: 5px;
    animation: blink 0.7s infinite;

}

/** Animação do cursor */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }

}

/** Contêiner de imagem */
.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;

}

/** Estilo da imagem */
.profile-image {
    max-width: 25rem;
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0px;

}

.social-icons {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 

}

.social-icon {
    margin: 0 15px; /* Espaçamento entre os ícones */
    transition: color 0.3s; /* Efeito de transição ao passar o mouse */

}

/** Parágrafo abaixo da imagem */
.image-description {
    text-align: justify;

}




/*! About  */

.about-section {
    padding: 0;
    margin-top: 8rem;
    margin-left: 8rem;
    text-align: center;
    margin-bottom: 120px;
}
  
.section-title {
    text-align: center;
}

.section-title p {
    margin-top: -10px;
}
  
/* Organização principal da seção "about-content" */
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch; /* Ajusta a altura das colunas para serem iguais */
    margin-top: 2rem;
}

.col-left {
    flex: 1;
    max-width: 30rem;
    margin-right: 2rem;
}

.profile-pic {
    width: 100%;
    height: 100%; /* Faz a imagem ocupar toda a altura disponível */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
}

/* Coluna da direita com layout flexível */
.col-right {
    display: flex;
    flex-direction: column;
    flex: 2;
    max-width: 750px;
    text-align: justify;
    padding: 0 4rem;
    height: 100%; 
    align-self: center;
}

/* Estilo do título, centralizado no topo */
.col-right h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.8rem;
    flex-shrink: 0; /* Evita que o título encolha */
}

/* Estilo do parágrafo */
.col-right p {
    line-height: 1.4; 
    text-indent: 25px;
    margin-top: 0;
}

.section-subtitle {
    padding:20px 0px;
}

/*! Resume */
#resume {
    margin-bottom: 10rem;
}

.container-resume {
    margin: 0;
    padding: 0;
    margin-bottom: 65px;

}

.section-title h2 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: -0.5px;
}

#resume .resume-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 15px; /* Espaço entre os blocos */
    align-items: stretch;
}

#resume .resume-block {
    border-radius: 8px; /* Bordas arredondadas */
    padding: 5px 10px 0px 10px; /* Aumenta o espaço interno */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 660px;
    min-height: 300px; /* Aumenta a altura mínima */
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}

#resume .resume-block:hover {
    transform: scale(1.05); /* Zoom leve ao passar o mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

.resume-title {
    text-align: center;
    padding-bottom: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    margin-top: -0.2rem;

}

.technologies-image {
    width: 100%;
    text-align: center;
    
}

.resume-item {
    position: relative;
    padding-left: 1.875rem;
    text-align: start;
}

.resume-subtitle {
    text-align: center;
    margin-top: -1rem;
}
.resume-subtitle-title {
    margin-bottom: 4px; /* Espaço entre o título e o próximo elemento */
}

.resume-subtitle-date {
    margin-top: 2px; /* Espaço entre o elemento acima */
}

.resume-description {
    text-align: justify;
    text-indent: 5px;
    text-align: center;   padding: 10px 2px;
}
.resume-list li {
    position: relative;
    margin-bottom: 10px; 
    padding-left: 30px;
}

.resume-list li::before {
    position: absolute;
    left: 0;
}

.course-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    margin-right: 60px ;
    margin-top: -20px;
}
.course-header-text {
    margin-left: 10px;
    flex-grow: 1;
}
.course-icon {
    width: 5rem; /* Ajusta o tamanho da imagem do curso */
    height: auto;
}

.resume-item-alignment {
    margin-bottom: 40px;
}


.resume-list-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Divide em duas colunas */
    gap: 10px; /* Espaçamento entre os itens */
    padding: 0;  /* Remove o preenchimento */
    list-style-type: none; /* Remove os marcadores */
}


/* Estilo para as listas */
.resume-list li span {
    display: inline-block; /* Faz com que o fundo fique apenas ao redor do texto */ /* Adiciona espaçamento ao redor do texto */
    transition: background-color 0.5s ease; /* Efeito suave para transição de cor */
}

.resume-list a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: inherit; /* Herda a cor do texto original */
    display: inline; /* Garante que o link se comporte como texto normal */
}

.resume-list a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.resume-title a {
    text-decoration: none;  
    color: inherit;         
}





/*! Portoflio */

h2 { /* Tambem usei no titulo de contato CRIAR UMA CLASSE PARA CADA */
    text-align: center;
    margin-bottom: 1.5rem;
}

 #portfolio {
    padding: 5rem 15rem 0rem 15rem; /* Adicionando padding nas laterais e inferior */
    text-align: center; /* Centraliza o texto */
    display: block; /* Permite que a seção se expanda conforme necessário */
    overflow: visible; /* Permite que a seção expanda */
    margin-bottom: 0; /* Remover a margem inferior */
}

.title-container {
    margin-bottom: 5rem; /* Espaço abaixo do título e descrição */
}

.portfolio-grid {
    display: grid; /* Usar grid para layout */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 2rem; /* Espaço entre os itens */
}

figure {
    margin: 0; /* Remove a margem do figure */
    border-radius: 5px; /* Cantos arredondados */
    overflow: hidden; /* Garante que o conteúdo não transborde */
    transition: transform 0.3s; /* Transição suave para efeito de zoom */
} 

figure:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

img {
    width: 100%; /* A imagem ocupará toda a largura do figure */
    height: auto; /* Mantém a proporção da imagem */
}

figure a {
    text-decoration: none; /* Remove o sublinhado do link */
}

figcaption {
    padding: 10px; /* Espaçamento interno do figcaption */
}
 

/*! Contato */

#contact {
    padding: 5rem 20rem; /* Espaçamento nas laterais e no topo e na parte inferior */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20rem; /* Espaço abaixo da seção */
    display: block;
}

.title-container {
    margin-bottom: 3rem; /* Espaço abaixo do título e descrição */
    display: block; /* Garante que o contêiner tenha o comportamento de bloco */
}

.contact-content {
    display: flex; /* Utiliza flex para organizar o aside e o formulário lado a lado */
    justify-content: space-between; /* Espaça os elementos ao longo do eixo principal */
    margin-top: 3rem; /* Espaço acima do conteúdo */
}


form {
    flex: 1; /* Permite que o formulário ocupe espaço disponível */
    text-align: left; /* Alinha o texto dos campos à esquerda */
}

.form-group {
    margin-bottom: 2rem; /* Espaço entre os campos do formulário */
}

label {
    display: block; /* Faz com que o label ocupe a largura total */
    margin-bottom: 0.5rem; /* Espaço abaixo do label */
}

input, textarea {
    width: 100%; /* Campos ocupam toda a largura */
    padding: 10px; /* Espaçamento interno */
}

button {
    margin: 1rem auto 0; /* Margem acima e abaixo do botão; margens laterais automáticas para centralizar */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */

}

.button-container {
    text-align: center; /* Centraliza o botão dentro deste contêiner */
    width: 100%; /* Garante que o contêiner use a largura total disponível */
}


/* Estilo geral do aside */
aside.contact-info {
    margin-right: 3rem; /* Espaço à direita */
    max-width: 450px; /* Largura máxima */
}

/* Estilo do cabeçalho */
.contact-info h3 {
    margin-bottom: 25px; /* Espaço abaixo do título */
    text-align: center; /* Alinha o título ao centro */
    margin-top: 0; /* Remove a margem superior */
}

/* Lista sem marcadores */
.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px; /* Espaço vertical entre itens */
    display: flex;
    flex-direction: column; /* Itens em coluna */

}

/* Estilo dos itens da lista */
.contact-info li {
    display: flex;
    align-items: center; /* Centraliza verticalmente ícone e texto */
    gap: 10px; /* Espaço horizontal entre ícone e texto */
}

/* Estilo dos ícones */
.contact-info i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

.contact-info a {
    text-decoration: none; /* Remove o sublinhado */
    display: flex; /* Flexbox para alinhar o ícone e o texto */
    align-items: center; /* Alinha o ícone e o texto no centro */
    transition: color 0.3s ease; /* Suaviza a transição de cor */
}


/* Espaçamento entre as informações */
.contact-info li span {
    display: inline-block; /* Para ajustar o texto sem quebrar */
    word-wrap: break-word; /* Quebra texto em dispositivos pequenos */
}

/* Footer */

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: -330px;
  }
  .footer .social-icons {
    margin: 0.5em 0;
  }
  .footer .social-icons a {
    margin: 0 0.5em;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em; /* Aumentei um pouco o tamanho para melhorar a visibilidade */
  }
  .footer .social-icons a:hover {
    color: var(--cor-secundaria); 
  }
  
  